@model CallingScore.Web.Models.UploadCallViewModel

@{
    ViewData["Title"] = "Upload Calls";
}

<h1>Upload the text file:</h1>
<hr />

<form asp-action="UploadCalls" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="File" class="control-label"></label>
        <input asp-for="File" class="form-control" type="file" />
        <span asp-validation-for="File" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Upload" class="btn btn-primary"/>
        <a asp-controller="Home" asp-action="Index" class="btn btn-success">Go Back</a>
    </div>
</form>

<div class="text-warning">
    <p>
        @ViewBag.Message
    </p>
</div>